/* ======================MENU=====================*/
.label {
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: -1px;
}
/*==================================================*/

/*================titulo e descrição================*/

.jumbotron {
  background-color: #fff;
}

.jumbotron .container {
  max-width: 40rem;
}

.jumbotron-heading {
  font-weight: 300;
  margin-top: 28px;
}

img {
  height: 225px;
  width: 100%;
  display: block;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}
